# Created by .ignore support plugin (hsz.mobi)

spring-comprehensive-study.iml

spring-ioc/spring-ioc.iml
spring-ioc/dependency-injection/dependency-injection.iml
spring-ioc/dependency-source/dependency-source.iml
spring-ioc/bean-scope/bean-scope.iml

spring-resource/spring-resource.iml
spring-resource/resource/resource.iml

i18n/i18n.iml
