# Created by .ignore support plugin (hsz.mobi)

spring-comprehensive-study.iml

spring-ioc/spring-ioc.iml
spring-ioc/dependency-injection/dependency-injection.iml
spring-ioc/dependency-source/dependency-source.iml
